[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "volk"]
	path = volk
	url = https://github.com/zeux/volk
[submodule "vulkan"]
	path = vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "vma"]
	path = vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "spirv_cross"]
	path = spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "imgui"]
	path = imgui
	url = https://github.com/Chaf-Libraries/imgui
[submodule "rttr"]
	path = rttr
	url = https://github.com/rttrorg/rttr
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt
[submodule "cgltf"]
	path = cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "meshoptimizer"]
	path = meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "D3D12MA"]
	path = D3D12MA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "spirv_reflect"]
	path = spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "nativefiledialog"]
	path = nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "Mustache"]
	path = Mustache
	url = https://github.com/kainjow/Mustache
